@Model FPTWebApplication.Model.Trainee
@{
    ViewBag.Title = "Index";
}

<h2>Trainee</h2>
<ul>
    <li>@Model.Id</li>
    <li>@Model.FullName</li>
    <li>@Model.BDay</li>
    <li>@Model.Course</li>
</ul>